server:
  port: 8000

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

spring:
  application:
    name: swcamp-gateway-service
  main:
    web-application-type: reactive

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG   # 라우트 상세 로그
    org.springframework.web.reactive.function.client.ExchangeFunctions: DEBUG   # 요청/응답 디버그
  file:
    name: logs/gateway.log