server:
  port: 8888

spring:
  application:
    name: config-service
  cloud:
    compatibility-verifier:
      enabled: false
    config:
      server:
        native:
          search-locations: classpath:/shared-configs, classpath:/config
  profiles:
    active: native

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
